@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-purple);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);

  .mat-button-toggle {
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 100;
    color: rgba($color: #dfdfdf, $alpha: 1.0);
    background-color: rgba($color: #303030, $alpha: 1.0);
  }

  :host ::ng-deep .mat-button-toggle-button {
    height:100%;
  }

  .mat-button-toggle-checked {
    background-color: mat-color($primary);
    font-weight: bold;
    
    .mat-button-toggle-label-content{
        display: flex;
        color: $light-primary-text;
        text-align: justify;
        align-items: center;

    }
  }
  :host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: mat-color($primary);
  }
}
// Include the mixin
@include mix-app-theme($app-theme);

mat-grid-list{
    margin-top: 10px;
}

.checkbox-all {
  display: flex;
  justify-content: flex-end;
}



