<mat-tab-group #matTabGroup  mat-align-tabs="center" animationDuration="0ms" (selectedTabChange)="clearSelectedLocations();toggleMode(matTabGroup.selectedIndex)">
    <mat-tab #island label="Island">
        <app-selector-tiles 
            (selected)="setLocations($event);update()" 
            [tileList]="islandLocations">
        </app-selector-tiles>
        <mat-divider></mat-divider>
        <div class="subtitle">Pick a Feature</div> 
        <app-selector-exp-panel 
            [formFields]="islandFeatureFormFields"
            (selected)="setFeature($event);update()"
            [colors]="islandColors">
        </app-selector-exp-panel>
        <div class="subtitle">Pick an Activity</div> 
        <app-selector-exp-panel 
            [formFields]="islandActivityFormFields"
            (selected)="setActivity($event);update()"
            [colors]="islandColors">
        </app-selector-exp-panel>
    </mat-tab>

    <mat-tab #heartland label="Heartland">
        <app-selector-tiles 
            (selected)="setLocations($event);update()" 
            [tileList]="heartlandLocations">
        </app-selector-tiles>
        <mat-divider></mat-divider>
    </mat-tab>
</mat-tab-group>