<div id="window">
    <div id="cover">
        <div id="covertitle"> PCN MapVis</div>
        <div id="coversubtitle">3D Spatial Data Exploration</div>
        <div id="covertext">This is an evolving test bed for visualizing and exploring spatial data. 
            It is developed as part of an 
            <a href="https://www.researchgate.net/publication/329909265_Measuring_the_physical_profile_and_use_of_Park_Connector_Network_in_Singapore_using_deep_learning_and_big_data_analyticsurban">urban research project</a> 
            at the Department of Architecture, National University of Singapore.</div>
        <div id="start">
            <button mat-button routerLink="/view-explore">Get Started</button>
            <a id="githublink" href="https://github.com/gxite/pcn-mapvis">View Github Repo >></a>
        </div>
        <img id="coverimg_fade" src="../assets/coverimg.png">
    </div>
    <div id="backdrop"></div>
    <img id="coverimg" src="../assets/coverimg.png">
</div>