<div id="window">
    <div id="cover">
        <div id="covertitle"> PCN MapVis</div>
        <div id="coversubtitle">3D Spatial Data Exploration</div>
        <div id="covertext">This is an evolving testbed for visualizing and exploring spatial data, developed as a spinoff from an urban research project.</div>
        <div id="start">
            <button mat-button routerLink="/view-explore">Explore</button>
            <a id="githublink" href="https://github.com/gxite/pcn-mapvis">View Github Repo >></a>
        </div>
        

        <img id="coverimg_fade" src="../assets/coverimg.png">
    </div>
    <div id="backdrop"></div>
    <img id="coverimg" src="../assets/coverimg.png">
</div>