<mat-expansion-panel hideToggle=true>
    <mat-expansion-panel-header>
        <mat-panel-title>
                title
        </mat-panel-title>
    </mat-expansion-panel-header>
    <app-histogram displayWidth="260" displayHeight="300"></app-histogram>
    <mat-expansion-panel hideToggle=true>
        <mat-expansion-panel-header>
            <mat-panel-title>stats</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Mean</p>
        <p>Mode</p>
        <p>Median</p>
        <p>Std'dev</p>
        <p>Max</p>
        <p>Min</p>
    </mat-expansion-panel>
</mat-expansion-panel>

