
<mat-toolbar class="topbar">
    <span>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </span>
    <span>PCN MapVis</span>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #drawer mode="side"> 
        <div>
            <span>Feature Layers</span>
            <mat-slider
                [max]="maxFeatureNum"
                [step]="step"
                [(value)]="featureLayerNum"
                (change)="onChangeFeatureLayersNum()">
            </mat-slider> 
            <app-ui-features-selector #selector1 
                [selectorID]="generateID(selector1.type,index)" 
                *ngFor="let index of array(featureLayerNum)" 
                (selection)="setLocation(selector1.type,$event)">
            </app-ui-features-selector>
        </div>
        <div>
            <span>Activity Layers</span>
            <mat-slider
                [max]="maxActivityNum"
                [step]="step"
                [(value)]="activityLayerNum"
                (change)="onChangeActivityLayersNum()">
            </mat-slider>
            <app-ui-activities-selector #selector2 
                [selectorID]="generateID(selector2.type,index)" 
                *ngFor="let index of array(activityLayerNum)" 
                (selection)="setLocation(selector2.type,$event)">
            </app-ui-activities-selector>
        </div>
    </mat-drawer>
</mat-drawer-container>

<div id="map" ></div>
<canvas id="deck-canvas"></canvas>