<mat-expansion-panel hideToggle=true>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon  [ngStyle]="{'color':selectedColor,'transform':'scale(0.9)'}">brightness_1</mat-icon>
            <button mat-icon-button 
                [ngStyle]="{'color':selectedColor,'margin-left': '5px'}" 
                disableRipple=true 
                (click)="toggleVisibility();$event.stopPropagation()">
                <mat-icon>{{isVisible()}}</mat-icon>
              </button>
            {{selectedValueAlias}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field *ngFor="let field of formFields">
        <mat-label>{{field.var_alias}}</mat-label>
        <mat-select #selection [(value)]="selectedValue" (selectionChange)="setColor();setAlias();update()">
            <mat-option>None</mat-option>
            <mat-option [value]="option" *ngFor="let option of field.var_options">{{option.var_alias}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-expansion-panel>