<mat-expansion-panel hideToggle=true [(expanded)]="expanded">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span id="indicators">          
                <button mat-icon-button 
                    [ngStyle]="{'color':selectedColorHex,'margin-left': '5px'}" 
                    disableRipple=true 
                    (click)="toggleVisibility();$event.stopPropagation();update()">
                    <mat-icon>{{isVisible()}}</mat-icon>
                  </button>
                {{selectedValueAlias}}
            </span>
            <span id="scaleSlider">
                <mat-slider title="Adjusts scale of extrusion"
                    [max]="scaleMax"
                    [min]="scaleMin"
                    [step]="scaleStep"
                    [(ngModel)]="scaleValue"
                    (change)="setScaleChanged();update();"
                    (click)="$event.stopPropagation()">
                </mat-slider>
            </span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field *ngFor="let field of formFields">
        <mat-label>{{field.alias}}</mat-label>
        <mat-select #selection [(value)]="selectedValuesList[field.name]" (selectionChange)="setSelectedChanged();setColor(field.name);setAlias(field.name);update()">
            <mat-option>None</mat-option>
            <mat-option [value]="option" *ngFor="let option of setTimeslotFieldOptions(field.name,field.var_options)">{{option.alias}}</mat-option>
        </mat-select>
    </mat-form-field>
    <span class="clear">
        <button mat-icon-button 
            disableRipple=true 
            [ngStyle]="{'transform':'scale(0.9)'}" 
            (click)="reset();$event.stopPropagation();update()">
            <mat-icon>clear</mat-icon>
        </button>
    </span>
</mat-expansion-panel>