
<mat-toolbar id="topbar">
    <span id="view-title">Explore</span>
    <span id="drawer-toggles">
        <button mat-icon-button (click)="resetMap()" title="Reset Map"><mat-icon>home</mat-icon></button>
        <button mat-icon-button (click)="leftDrawer.toggle(); (toHide() && rightDrawer.opened)? rightDrawer.toggle(): false " title="Open Selector Tools"><mat-icon>build</mat-icon></button>
        <button mat-icon-button (click)="rightDrawer.toggle(); (toHide() && leftDrawer.opened)? leftDrawer.toggle(): false " title="Open Statistics Tools"><mat-icon>poll</mat-icon></button>
    </span>
</mat-toolbar>

<mat-drawer-container id="left-container">
    <button class="drawer-toggle" *ngIf="!toHide()" mat-icon-button (click)="leftDrawer.toggle()" title="Open Selector Tools">
        <mat-icon *ngIf="leftDrawer.opened==false" >chevron_right</mat-icon>
        <mat-icon *ngIf="leftDrawer.opened==true">chevron_left</mat-icon>
    </button>
    <mat-drawer #leftDrawer mode="side" position="start">
        <app-view-explore-vis-controls [mapService]="mapService"></app-view-explore-vis-controls>
    </mat-drawer>
</mat-drawer-container>

<mat-drawer-container id="right-container">
    <button class="drawer-toggle" *ngIf="!toHide()" mat-icon-button (click)="rightDrawer.toggle()" title="Open Statistics Tools">
        <mat-icon *ngIf="rightDrawer.opened==true" >chevron_right</mat-icon>
        <mat-icon *ngIf="rightDrawer.opened==false">chevron_left</mat-icon>
    </button>
    <mat-drawer #rightDrawer mode="side" position="end">
        <app-view-explore-statistic-viewer></app-view-explore-statistic-viewer>
    </mat-drawer>
</mat-drawer-container>

<div id="window">
    <div id="map"></div>
    <canvas id="deck-canvas"></canvas>
</div>
<app-tooltip></app-tooltip>